<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>tourism_bbs</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>home.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>addUserServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.AddUserServlet</servlet-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserServlet</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addTest</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.AddTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTest</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>postingServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.AddPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postingServlet</servlet-name>
    <url-pattern>/posting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.UpdatePersonalInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showPersonalInfoServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.ShowPersonalInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showPersonalInfoServlet</servlet-name>
    <url-pattern>/showPersonalInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showPasswordServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.ShowPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showPasswordServlet</servlet-name>
    <url-pattern>/showPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changePasswordServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePasswordServlet</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findPasswordOneServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.FindPasswordOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findPasswordOneServlet</servlet-name>
    <url-pattern>/findPasswordOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findPasswordTwoServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.FindPasswordTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findPasswordTwoServlet</servlet-name>
    <url-pattern>/findPasswordTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showMyPostServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.ShowMyPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showMyPostServlet</servlet-name>
    <url-pattern>/showMyPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteMyPostServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.DeleteMyPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMyPostServlet</servlet-name>
    <url-pattern>/deleteMyPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showMyPostDetailServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.ShowMyPostDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showMyPostDetailServlet</servlet-name>
    <url-pattern>/showMyPostDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showSpaceGuideServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.ShowSpaceGuideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showSpaceGuideServlet</servlet-name>
    <url-pattern>/showSpaceGuide</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>showPostListServlet</servlet-name>
    <servlet-class>com.tourism_bbs.servlet.ShowPostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showPostListServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>